.layout-wrapper {
    display: flex;
    height: 100vh;
    background-color: #f4f6f9;

    .layout-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 200px;
        background: #094679;
        transition: width 0.3s;
        border-top-right-radius: 50px;

        &.collapsed {
            width: 80px;

            .sidebar-menu {
                .sidebar-item span {
                    display: none;
                }
            }

            .sidebar-footer {
                .sidebar-logo {
                    margin-left: 0;
                }
            }
        }

        .sidebar-header {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 10px 0;
            margin-bottom: 20px;

            .sidebar-toggle {
                color: #ecf0f1;
                transition: transform 0.3s;

                &:focus, &:active {
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
        }

        .sidebar-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0 20px;
            flex-grow: 1;

            .sidebar-item {
                display: flex;
                align-items: center;
                padding: 15px 0;
                color: #ecf0f1;
                text-decoration: none;
                font-size: 1rem;
                transition: color 0.2s;
                justify-content: start;
                width: 88%;

                i {
                    margin-right: 28px; 
                }

                &:hover {
                    color: #bdc3c7;
                }
            }
        }

        .sidebar-footer {
            padding: 20px;
            display: flex;
            justify-content: center;

            .sidebar-logo {
                width: 160px;
                height: auto;
                transition: width 0.3s;
            }
        }
    }

    .layout-main {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .layout-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #094679;
            border-bottom-left-radius: 50px;
            border-top-right-radius: 50px;
            padding: 10px 20px;
            height: 80px;
            color: white;

            .header-title {
                font-weight: 300;
                font-size: 40px;
                margin: 0;
            }

            .header-user {
                display: flex;
                align-items: center;

                .username {
                    color: #ecf0f1;
                    margin-right: 20px;
                    font-weight: 500;
                }

                .avatar {
                    margin-right: 20px;
                }

                .logout-button {
                    display: flex;
                    align-items: center;
                    color: #ecf0f1;
                    text-decoration: none;

                    i {
                        margin-left: 10px;
                    }

                    &:hover {
                        color: #bdc3c7;
                    }
                }
            }
        }

        .layout-content {
            flex-grow: 1;
            padding: 20px;
            background-color: #f4f6f9;
            overflow-y: auto;
        }
    }
}

.animated-text {
    animation: fadeIn 3s ease-in-out forwards;
    opacity: 0;
    color: var(--accents-5);
  }

  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
